.web {
  background-color: #00e600;
}
.soft {
  background-color: #b3b3b3;
}
.mobile {
  background-color: #ff6666;
}
.architecture {
  background-color: #ffc966;
}
.language {
  background-color: #ffff66;
}
